#Ignore all dotfiles...
.*
*.class
#except for .gitignore
!.gitignore

**/target/**

# IntelliJ project files
.idea
.idea/
*.iml
out
gen
target/

# Eclipse project files
.settings
.settings/
.classpath
.project
